<<<<<<< HEAD
body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

/* Navbar */
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
    background-color: white;
}   /* bootstrap ki default css hatane ke liye we used here important */

/* Footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links, 
.f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.f-info-socials i {
    margin-left: 1rem;
    font-size: 1.2rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text-p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* Card effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* New page */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
} 

/* Edit page */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Show Page */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

.listing-image {
    max-width: 250px;
    max-height: 250px;
    object-fit: cover;  /* This will make sure the image maintains its aspect ratio */
}

#map{
    height: 400px;
    width: 80vh;
}

.search-btn{
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .search-btn:hover{
    background-color: #fe424d;
    color: #fff;
  }
  .search-btn i{
    display: inline;
    margin-right: 0.5rem;
  }
  .search-inp{
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
  }

  #filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filter{
    text-align: center;
    margin-left: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
}

.filter:hover{
    opacity: 1;
    cursor: pointer;
}

.filter p{
    font-size: 0.8rem;
}

.filters-slider-container {
    display: flex;
    overflow-x: auto;
    padding-bottom: 10px;
}

/* Hide slider on large screens */
@media (min-width: 768px) {
    .filters-slider-container {
        overflow-x: visible;
        flex-wrap: wrap;
    }

    .filter {
        margin: 10px;
        flex-grow: 1; 
    }
}

.tax-info{
    display: none;
}

.tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.25rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 3rem;
    display: flex;
    align-items: center;
}

.login-btn{
    background-color: #fe424d;
    color: #fff;
}

.login-btn:hover{
    background-color: #fe424d;
    color: #fff;
}


=======
body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}

.navbar {
  /* height: 5rem; */
  background-color: white;
}

.icon {
  color: #fe424d;
  font-size: 2rem;
}
.nav-link {
  color: #222 !important;
}

.f-info-links a {
  text-decoration: none;
  color: #222;
}
.f-info-links a:hover {
  text-decoration: underline;
}
.f-info-socials,
.f-info-links,
.f-info-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.f-info-socials i {
  margin-right: 1rem;
}

.f-info-socials a{
  color: black;
  border: none;
}

.f-info {
  text-align: center;
  height: 8rem;
  display: flex;
  background-color: #ebebeb;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

/* Cards */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
  transition: transform 0.3s;
}
.card:hover {
  transform: scale(1.03);
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}
.achor {
  text-decoration: none;
}
.card.text p {
  font-weight: 400 !important;
}
.allListings {
  margin-bottom: 1rem;
}

/* New Listings */
.add-btn {
  background-color: #df5660 !important;
  border: none !important;
}
.add-btn:hover {
  background-color: #fe424d !important;
}

/* Edit Listings */
.edit-btn {
  background-color: #df5660 !important;
  border: none !important;
}
.edit-btn:hover {
  background-color: #fe424d !important;
}

/* Show page */

.show-iamge {
  height: 30vh;
  width: 60%;
  object-fit: cover;
}

.btns {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: center;
}

.show-card {
  padding: 0;
}

/* map */

#map {
  height: 400px;
  width: 100vh;
}

/* Hpmepage filters */

#filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.filter {
  text-align: center;
  margin-left: 2rem;
  margin-top: 2rem;
  opacity: 0.7;
}
.filter:hover {
  opacity: 1;
  cursor: pointer;
  transition: 0.7s ease-in-out;
}
.filter p {
  font-size: 0.8rem;
}
.filter a {
  text-decoration: none;
  color: black;
}
.tax-info {
  display: none;
}
.tax-toggle {
  border: 2px solid black;
  border-radius: 1rem;
  height: 2.5rem;
  padding: 1rem;
  margin-left: 3rem;
  display: flex;
  align-items: center;
}
@media (min-width: 300px) and (max-width: 768px) {
  .tax-info {
    display: none;
  }
  .tax-toggle {
    margin-left: 2rem;
    margin-top: 1rem;
  }
  .card-text{
    font-size: 0.9rem;
    width: 130%;
  }
  body{
    overflow-x: hidden;
  }
  .card-review-box{
    display: flex !important;
    flex-direction: column !important;
    width: 80% !important;
    align-items: center !important;
  }
}

@media (min-width: 300px) and (max-width: 950px) {
  #map{
    width: 100%;
  }
}

/* Search */
.search-btn {
  background-color: #fe424d !important;
  color: #fff !important;
  border-radius: 25px !important;
  padding: 0 1rem 0 1rem !important;
}
.search-btn:hover {
  background-color: #fe424d !important;
  color: #fff !important;
}
.search-input {
  border-radius: 25px !important;
  padding: 0.5rem 3rem 0.5rem 3rem !important;
  font-size: 0.9rem !important;
}
>>>>>>> extra/main
